.hero-container {
  padding-top: 100px;
  text-align:center;
}

.hero-container h2 {
  font-size: 60px;
  color: #2e3266;
  font-weight: 700;
}

.hero-container h3 {
  font-size: 42px;
  color: #4e4f50;
  font-weight: 700;
}
