.hero-container {
  margin-top: 100px;
  min-height: 716px;
  text-align: center;
  background: url("./background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}

.hero-container .title {
  font-size: 48px;
  color: #2e3266;
  font-weight: 800;
}

.hero-container h3, .hero-container h4 {
  font-size: 32px;
  color: #4e4f50;
  font-weight: 700;
  margin-bottom:0
}

.hero-container h4 {
  font-size: 24px;
}
