.why-contract-container {
  background-color: #0580b7;
  color: #ffffff;
  height: 48rem;
}

.why-contract-container h2 {
  font-size: 50px;
  font-weight: 700;
}

.why-contract-container .topics-board {
  font-size: 35px;
  line-height: 45px;
  color: #ffffff;
  font-weight: 600;
  text-align: left;
  min-height: 460px;
}