.fixed-top {
  background-color: #ffffff;
}
/* .menu-icon {
  max-width: 48px;
} */

.fixed-top .header-link {
  font-weight: 700;
  font-size: 24px;
  color: #090740;
  text-decoration: none;
  padding: 0.5rem 1rem
}

.fixed-top .header-link:hover {
  background-color: #cfcece;
  border-radius: 4px;
  transition: all .2s ease-out;
  cursor: pointer;
}