.finazul-header {
  background-color: #ffffff;
}

.finazul-header .header-link {
  font-weight: 700;
  font-size: 24px;
  color: #090740;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.finazul-header .header-link:hover {
  background-color: #cfcece;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.finazul-header i {
  font-size: 36px;
  padding: 5px;
  border: 2px solid #0094d9;
  border-radius: 10px;
}
