.calc-container {
  background-color: #2e3266;
  color: #ffffff;
}

.calc-container h2 {
  font-size: 32px;
  font-weight: 700;
}

.calc-container h3 {
  font-size: 24px;
}

.calc-container h4 {
  font-size: 16px;
}

.calc-container p {
  font-size: 14px;
}

.input-container p, .input-container input::placeholder {
  font-size: 24px;
  font-weight: 600;
}

.input-container {
  background-color: #ebebf0;
  border: 1px solid #b4b4b8;
}

.input-container:focus, .input-container:hover {
  border: 1px solid #000000;
}

.input-container p {
  margin-bottom: 0
}

.input-container input {
  font-weight: 400;
  background-color: #ebebf0;
  font-size: 24px;
  padding: 0;
  border: none;
}

.input-container input:focus {
  outline: none;
}

.white-board {
  background-color: #ffffff;
  filter: drop-shadow(0px 3px 13.5px rgba(0, 0, 0, 0.35));
  color: #2e3266;
  border-radius: 20px;
}

.white-board button {
  min-width: 6rem;
  background-color: #0580b7;
  color: #FFFFFF
}
