.concept-container {
  color: #2e3266;
  min-height: 620px;
  background-image: url('./background.png');
  background-repeat: no-repeat;
  background-size: 21rem;
  background-position-y: bottom;
  background-position-x: 2rem;
}

.concept-container  .container h2 {
  font-weight: 700;
  margin: 0;
  font-size: 50px;
}

.concept-container h3 {
  font-size: 28px;
  color: #4e4f50
}

.concept-container .explanation {
  left: 40%
}
