.how-to-container {
  background-color: #ffffff;
}

.how-to-container h2 {
  font-size:48px;
}

.previous-text {
  color: #2e3266;
  font-weight: 700;
  font-size: 50px;
}

.how-to-container .video-container h3 {
  font-size: 32px;
  color: #4e4f50;
  font-weight: 600;
  font-family: "Open Sans";
  text-align: center;
}

.shadow-box {
  width: 50rem;
  height: 21rem;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 13.5px rgba(0,0,0,0.35));
  background-color: #ffffff;
}

.shadow-box img {
  height: 19rem
}

.how-to-container .how-to-block {
  height: 30rem;
  justify-content: space-around;
}

.how-to-container .brand-block {
  height: 24rem;
  justify-content: space-around;
}

.brand-block h3 {
  font-size: 32px;
  color: #0580b7;
  font-weight: 700;
}

.brand-block h4 {
  font-size: 24px;
  color: #2e3266;
  font-weight: 600;
  text-align: center;
}

.video-box {
  border-radius: 20px;
  filter: drop-shadow(0px 3px 13.5px rgba(0,0,0,0.35));
  background-color: #ffffff;
  width: 40rem;
}

.how-to-container .topics-board {
  font-size: 35px;
  line-height: 45px;
  color: #ffffff;
  font-weight: 600;
  text-align: left;
  min-height: 460px;
}

.how-to-container button {
  background-color: #ffffff;
  text-align: center;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: #2d3165;
  font-weight: bold;
  text-decoration: none;
  transform: scale(0.5);
  padding-bottom: 2rem;
}

.how-to-container button:disabled {
  color: #9d9d9d;
}

.image-line img {
  width: auto;
  max-width: 15rem;
  height: 6rem;
}